$primaryColor: #264670;
$secondaryColor:#a5a5a5;
$fontColor: #dce2eb;
$menuColor: rgb(75, 75, 75);

$defaultFont: 'Raleway', sans-serif;;
$normalWeight: 300;
$boldWeight: 500;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
