@import "reset";

@import "variables";

@import "wp-plugins";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

nav .search-container {
  float: right;
}

nav input[type="search"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav .search-container input {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container .sbtn:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  // nav .search-container {
  //   float: none;
  // }
  // nav a,
  // .topnav input[type="text"],
  // .topnav .search-container button {
  //   float: none;
  //   display: block;
  //   text-align: left;
  //   width: 100%;
  //   margin: 0;
  //   padding: 14px;
  // }
  // nav input[type="text"] {
  //   border: 1px solid #ccc;
  // }
}

body {
  line-height: 32px;
  color: #ffffff;
}

.navContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

#container {
  margin: 0 auto;
  max-width: 890px;
  display: flex;
}

p {
  text-align: center;
}

//.toggle,
//[id^="drop"] {
//  display: none;
//}
//
///* Giving a background-color to the nav container. */
//nav {
//  margin: 0;
//  padding: 0;
//  background-color: $primaryColor;
//}
//
///* Since we'll have the "ul li" "float:left"
// * we need to add a clear after the container. */
//
//nav:after {
//  content: "";
//  display: table;
//  clear: both;
//}
//
///* Removing padding, margin and "list-style" from the "ul",
// * and adding "position:reltive" */
//nav ul {
//  float: left;
//  padding: 0;
//  margin: 0;
//  list-style: none;
//  position: relative;
//}
//
///* Positioning the navigation items inline */
//nav ul li {
//  margin: 0px;
//  display: inline-block;
//  float: left;
//  background-color: $primaryColor;
//}
//
///* Styling the links */
//nav a {
//  display: block;
//  padding: 14px 20px;
//  color: #fff;
//  font-size: 17px;
//  text-decoration: none;
//}
//
//nav ul li ul li:hover {
//  background: #000000;
//}
//
///* Background color change on Hover */
//nav a:hover {
//  background-color: #000000;
//}
//
///* Hide Dropdowns by Default
// * and giving it a position of absolute */
//nav ul ul {
//  display: none;
//  position: absolute;
//  top: 60px;
//}
//
///* Display Dropdowns on Hover */
//nav ul li:hover > ul {
//  display: inherit;
//  z-index: 10;
//}
//
///* Fisrt Tier Dropdown */
//nav ul ul li {
//  width: 170px;
//  float: none;
//  display: list-item;
//  position: relative;
//}

.active {
  background-color: #212121;
}

.parent {
  background-color: #212121;
}
//
///* Change ' +' in order to change the Dropdown symbol */
//li > a:after {
//  content: " +";
//}
//li > a:only-child:after {
//  content: "";
//}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 680px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

//  nav {
//    margin: 0;
//  }
//
//  /* Hide the navigation menu by default */
//  .toggle + a,
//  .menu {
//    display: none;
//    width: 100%;
//  }
//
//  /* Stylinf the toggle lable */
//  .toggle {
//    display: block;
//    background-color: $primaryColor;
//    padding: 14px 20px;
//    color: #fff;
//    font-size: 17px;
//    text-decoration: none;
//    border: none;
//  }
//
//  .toggle:hover {
//    background-color: #000000;
//  }
//
//  /* Display Dropdown when clicked on Parent Lable */
//  [id^="drop"]:checked + ul {
//    display: block;
//  }
//
//  /* Change menu item's width to 100% */
//  nav ul li {
//    display: block;
//    width: 100%;
//  }
//
//  nav ul ul .toggle,
//  nav ul ul a {
//    padding: 0 40px;
//  }
//
//  nav ul ul ul a {
//    padding: 0 80px;
//  }
//
//  nav a:hover,
//  nav ul ul ul a {
//    background-color: #000000;
//  }
//
//  nav ul li ul li .toggle,
//  nav ul ul a,
//  nav ul ul ul a {
//    padding: 14px 20px;
//    color: #fff;
//    font-size: 17px;
//  }
//
//  nav ul li ul li .toggle,
//  nav ul ul a {
//    background-color: #212121;
//  }
//
//  /* Hide Dropdowns by Default */
//  nav ul ul {
//    float: none;
//    position: static;
//    color: #ffffff;
//  }
//
//  /* Hide menus on hover */
//  nav ul ul li:hover > ul,
//  nav ul li:hover > ul {
//    display: none;
//  }
//
//  /* Fisrt Tier Dropdown */
//  nav ul ul li {
//    display: block;
//    width: 100%;
//  }
//
//  nav ul ul ul li {
//    position: static;
//  }
}

@import "small-default";

@media only screen and (min-width: 35rem) {
  @import "medium";
} /* end media query */

@media only screen and (min-width: 64rem) {
  @import "large";
} /* end media query */
